@media only screen and (max-width: 1200px){
    //generals
    :root{
        --font-size-h1: 5rem;
    }

    //portfolio
    .portfolio{
        .portfolio_items{
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}

@media only screen and (max-width: 600px){
    //generals
    :root{
        --color-primary: #2d4a5b;
        --color-grey: #929394;
        --font-size-h1: 2.5rem;
        --font-size-h2: 1.7rem;
        --font-size-h3: 1.5rem;
        --font-size-h4: 1.2rem;
        --font-size-logo: 1.2rem;
        --font-size-text: .8rem;
        --margin-1: .8rem;
        --margin-2: 1rem;
        --margin-3: 1.5rem;
        --padding-1: .8rem;
        --padding-2: 1rem;
        --padding-3: 1.5rem;
    }

    //logo
    .logo{
        .logo_container{
            padding-top: var(--padding-1);
            img{
                width: 45px;
                height: 45px;
                border-radius: 50%;
                box-shadow: -7px -1px 7px var(--color-grey);
            }
        }
    }

    //header
    header{
        p{
            span{
                text-shadow: 4px 4px 4px var(--color-primary);
            }
        }
    }

    //portfolio
    .portfolio{
        .portfolio_items{
            display: grid;
            grid-template-columns: 1fr;
        }
    }

    //contact
    .contact-container{
        .contact_items{
            .social_medias{
                .social_media{
                    font-size: var(--font-size-h1);
                }
            }
        }
    }
}