*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; //how the total width and height of an element is calculated
    list-style: none;
}

:root{
    --color-white: #fff;
    --color-white-glass: rgba(255, 255, 255, 0.8);
    --color-black: #000;
    --color-black-glass: rgba(0, 0, 0, 0.8);
    --color-primary: #2d4a5b;
    --color-primary-glass: rgba(rgba(45, 74, 91, 0.8));
    --color-secondary: #dff7ff;
    --color-grey: #929394;
    --color-gold: rgba(197, 169, 29, 0.753);
    --transition-1: all .1s ease-in-out;
    --transition-2: all .4s ease-in-out;
    --box-shadow-black: 0 3px 15px rgba(0,0,0,.2);
    --box-shadow-gold: 0 3px 15px rgba(197, 169, 29, 0.753);
    --font-size-h1: 5rem;
    --font-size-h2: 2.2rem;
    --font-size-h3: 2rem;
    --font-size-h4: 1.5rem;
    --font-size-logo: 2rem;
    --font-size-text: 1.2rem;
    --margin-1: 1rem;
    --margin-2: 1.5rem;
    --margin-3: 3rem;
    --padding-1: 1rem;
    --padding-2: 1.5rem;
    --padding-3: 3rem;
}

body{
    background-color: var(--color-white);
    font-family: "Poppins", serif;
    font-size: 1.1rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(45, 74, 91, 0.8));
    transition: var(--transition-1);
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit; //hérite de la couleur du body
    font-family: inherit;   //hérite de la couleur du body
}

//logo
.logo{
    position: fixed;
    top: 0;
    left: 3%;
    z-index: 10;
    .logo_container{
        padding-top: var(--padding-1);
        img{
            width: 70px;
            height: 70px;
            border-radius: 50%;
            box-shadow: -15px -2px 15px var(--color-grey);
        }
    }
}

//navbar
.navbar{
    position: fixed;
    top: 0;
    left: 50%; /* Place le centre de la navbar au centre de la page */
    transform: translateX(-50%); /* Centre horizontalement la navbar */
    z-index: 10;
    .navbar_items{
        display: flex;
        font-size: var(--font-size-logo);
        .navbar_item{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: var(--padding-1);
            padding-bottom: var(--padding-1);
            padding-left: var(--padding-3);
            padding-right: var(--padding-3);
            border-radius: 5%;
            transition: var(--transition-1);
            box-shadow: var(--box-shadow-black);
            i{
                color: var(--color-gold)
            }
            &:hover{
                transition: var(--transition-1);
                transform: translateY(-5px);
                box-shadow: 1px 20px 15px;
                background-color: var(--color-gold);
                i{
                    color: var(--color-white);
                }
            }
        }
    }
}

//header
header{
    height: 100vh;
    z-index: 9;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-h1);
    text-transform: uppercase;
    p{
        text-align: center;
        span{
            color: var(--color-gold);
            text-shadow: 8px 8px 8px var(--color-primary);
        }
    }
}

//portfolio
.portfolio{
    .portfolio_items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        height: fit-content;
        margin-top: var(--margin-3);
        margin-bottom: var(--margin-3);
        .portfolio_item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            object-fit: cover;
            padding: var(--padding-2);
            position: relative;
            .portfolio_image{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .portfolio_text{
                display: none;
            }
            &:hover{
                .portfolio_text{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    box-shadow: var(--box-shadow-black);
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: var(--padding-2);
                    background-color: var(--color-primary);
                    width: 100%;
                    height: 100%;
                    h3{
                        font-size: var(--font-size-h3);
                        text-shadow: 8px 8px 8px var(--color-black-glass);
                        color: var(--color-white-glass);
                    }
                    .portfolio_text_images{
                        display: flex;
                        flex-direction: row;
                        font-size: var(--font-size-logo);
                        padding: var(--padding-1);
                        .portfolio_text_image{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: var(--color-black);
                            margin: var(--margin-2);
                            padding: var(--padding-1);
                            box-shadow: var(--box-shadow-black);
                            border-radius: 50%;
                            width: 70px;
                            height: 70px;
                            transition: var(--transition-2);
                            &:hover{
                                transform: translateY(-5px);
                                transition: var(--transition-2);
                                box-shadow: var(--box-shadow-gold);
                                color: var(--color-white-glass);
                            }
                        }
                    }
                }
            }
        }
    }
}

//contact
.contact-container{
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    .contact_items{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        .social_medias{
            display: flex;
            flex-direction: row;
            .social_media{
                font-size: var(--font-size-logo);
                justify-content: center;
                align-items: center;
                color: var(--color-black);
                margin: var(--margin-2);
                padding: var(--padding-1);
                box-shadow: var(--box-shadow-black);
                border-radius: 50%;
                width: 70px;
                height: 70px;
                transition: var(--transition-2);
                i{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &:hover{
                    transform: translateY(-5px);
                    transition: var(--transition-2);
                    box-shadow: var(--box-shadow-gold);
                    color: var(--color-white-glass);
                }
            }
        }
        .contact-info{
            .contact-item{
                display: flex;
                align-items: center;
                font-size: var(--font-size-text);
                margin: var(--margin-1);
                p{
                    margin: 0;
                    padding: 0;
                    span{
                        font-size: var(--font-size-text);
                        text-transform: uppercase;
                    }
                }
                .contact-icon{
                    display: grid;
                    grid-template-columns: 40px 1fr;
                    i{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: var(--font-size-h4);
                        box-shadow: var(--box-shadow-black);
                        border-radius: 50%;
                        
                        width: 30px;
                        height: 30px;
                        padding: var(--padding-1);
                    }
                }
            }
        }
    }
}

//independant items
//titres des parties
.main-title{
    font-size: var(--font-size-h2);
    text-align: center;
    text-transform: uppercase;
    .title{
        position: relative;
        padding-top: var(--padding-2);
        &::before{
            position: absolute;
            content: '';
            left: 50%;
            top: 0;
            width: 30%;
            height: 1px;
            background-color: var(--color-white);
            transform: translateX(-50%);
        }
    }
}

//eyes-catching des liens
.eyecatch{
    &:hover{
        transition: var(--transition-1);
        transform: translateY(-5px);
        color: var(--color-gold);
    }
}

@import './_media';