.navbar {
    width: 100%;
    background-color: var(--secondary-color); /* Gris foncé pour la barre de navigation */
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.navbar .nav-btn {
    text-decoration: none;
    color: var(--neutral-color);  /* Blanc cassé pour le texte */
    padding: 14px 20px;
    text-align: center;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.navbar .nav-btn:hover {
    background-color: var(--primary-color); /* Bleu vif au survol */
}

.navbar .nav-btn:active {
    background-color: var(--accent-color); /* Vert néon au clic */
}