.imac-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Espace sous la navbar */
}

#image_imac {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
}
