/*dimensions de la div de la bulle de recherche + centrage + bordure*/
#home-portfolio__searchbar {
    display: flex;
    justify-content: center;
    width: 60%;
    border: solid;
    border-radius: 5% / 80%;
    padding: 1% 3%;
    margin-bottom: 2%;
}

/*dimensions de la bulle de recherche*/
#home-portfolio__searchbar input[type="search"] {
    width: 90%;
    height: 90%;
}

/*dimensions du texte de la bulle de recherche*/
#home-portfolio__searchbar-input {
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
}

/*btn recherche*/
#home-portfolio__searchbar-btn {
    width: 5%;
    height: auto;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    font-size: 2em;
}

/*mise en colonne des items articles et scroll*/
.home-portfolio__articles {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
    overflow-y: scroll;
}

/*mise en ligne de chq item + prendre 100% de largeur + padding*/
.home-portfolio__articles-item {
    display: flex;
    width: 100%;
    padding: 2% 0%;
}

/*propriétés de l'image de chq item*/
.home-portfolio__articles-item-img {
    width: 30%;
    height: auto;
    padding-right: 5%;
}

/*dimensions du paragraphe de chq item*/
.home-portfolio__articles-item-section p {
    width: 80%;
    padding: 5% 0%;
}