body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  color: rgb(0, 0, 0);
  background-color: blanchedalmond;
}

/*Suppression bullet points*/
ul {
  list-style: none;
}

/*Suppression de l'underline sur les liens*/
a {
  color: inherit;
  text-decoration: none;
}

/*Partie barre de navigation*/
nav ul {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  transition: color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

/*Partie header*/
.banniere_picture {
  width: 100%;
  height: 100%;
}

.navlinks:hover {
  color: rgb(255, 255, 255);
  background-color: crimson;
}

/*Partie Carousel*/
#carousel-container {
    position: relative;
    width: 70%;
    margin: auto;
    overflow: hidden;
  }

  #image-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-image {
    width: 100%;
    height: auto;
  }

  .carousel-button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    outline: none;
  }

  #prev-button {
    left: 10px;
  }

  #next-button {
    right: 10px;
  }

/*Partie footer*/
footer, footer div {
  display: flex;
  justify-content: space-around;
}

.footer_title {
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 2px;
}

/*Partie flèche de retour vers le haut*/
#scroll-to-top {
  position: fixed;
  bottom: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  background-color: #b94629;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: none;
}

#scroll-to-top:hover {
  background-color: #b94629;
}
