body {
    background-color: white;
    padding: 0px;
    margin: 0px;
}

nav {
    background-color: #F27D52;
}

#bloc-1 {
    background-color: #11414C;
}

#bloc-2 {
    
}

#bloc-3 {
    background-color: #3662BD;
}

#bloc-4 {
    
}

#bloc-5 article {
    background-color: #11414C;
}

footer {
    background-color: #11414C;
}
