//generals
@media only screen and (max-width: 1200px){
    section{
        padding: 6rem 8rem;
    }

    .about-container, .progress-bars, .timeline, .blogs{
        display: grid;
        grid-template-columns: 1fr !important;
    }

    .main-title h2{
        font-size: 2rem;
    }
    .bg-text{
        font-size: 3.3rem !important;
    }

    .theme-btn{
        width: 40px;
        height: 40px;
    }

    .controls{
        display: flex;
        flex-direction: row;
        top: auto;
        bottom: 0;
        left: 8%;
        .control{
            margin: 0 3.5% 0 0;
        }
    }
}
//generals
@media only screen and (max-width: 550px){
    section{
        padding: 6rem 3rem;
    }
}

//header-content
@media only screen and (max-width: 1200px){
    .header-content{    
        .right-header{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-top: 3rem;
            padding-right: 3rem;
            margin-bottom: 4rem;
            .name{
                font-size: 1.2rem;
            }
            p{
                font-size: 1rem;
                margin: 1rem 0;
                line-height: 1.5rem;
            }
        }
    }
}

@media only screen and (max-width: 950px){
    .header{
        background-size: cover;
        background-repeat: no-repeat;
        background-image: linear-gradient(rgba(120, 118, 118, 0.7), rgba(255, 255, 255, 0.5)),
                  url(../images/left-header-shape.jpg);

    }
    .header-content{
        display: grid;
        grid-template-columns: 1fr;
        .left-header{
            display: none;
        }
    
        .right-header{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: 3rem;
            .btn-con{
                display: flex;
                align-self: center;
            }
        }
    }
}

//about
@media only screen and (max-width: 1200px) {
    .left-about{
        padding-right: 0 !important;
    }

    .right-about{
        display: grid;
        grid-template-columns: 1fr !important;
        padding-top: 2rem;
        .about-item{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

//Portfolio
@media only screen and (max-width: 850px) {
    .portfolio-text{
        padding: 5rem 0;
    }

    .portfolios{
        display: grid;
        grid-template-columns: 1fr !important;
    }
}

//Contact
@media only screen and (max-width: 1150px){
    .contact-container{
        display: flex;
        flex-direction: column;
    }

    .contact-right{
        margin: 0 !important;
        .input-control{
            display: flex;
            flex-direction: column;
            :last-child{
                margin-top: 3rem;
                margin-left: 0 !important;
            }
        }
    }
}