#contacts__infos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
}

#contacts__infos-identity{
    flex-direction: column;
}

#contacts__infos-identity-presentation {
    display: flex;
    align-items: center;
}

#contacts__infos-identity-about {
    display: flex;
    flex-direction: column;
}

#contacts__infos-reseaux {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contacts__infos-identity-presentation-photo {
    border-radius: 50%;
}

