#carousel-container {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#carousel-container__main {
    width: 70%;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

#carousel-slider {
    display: flex;
    width: max-content; /* Allows the slider to be as wide as its children */
}

.carousel-image {
    min-width: auto;
    height: auto;
    flex-shrink: 0;
    border: thick double black;
}
