*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; //how the total width and height of an element is calculated
    list-style: none;
}

:root{
    --color-primary: #0000b3;
    --color-white: #fff;
    ---color-black: #000;
    --color-green-1: #00b3b3;
    --color-green-2: #007d7d;
    --color-grey-1: #787676;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.2);
    --transition-1: all .4s ease-in-out;
    --transition-2: all .1s ease-in-out;
}

.light-mode{
    --color-primary: #007ab3;
    --color-white: #000;
    ---color-black: #fff;
    --color-green-1: #00b3b3;
    --color-green-2: #007d7d;
    --color-grey-1: #787676;
}

body{
    background-color: var(---color-black);
    font-family: "Poppins", serif;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: var(--transition-1);
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit; //hérite de la couleur du body
    font-family: inherit;   //hérite de la couleur du body
}

header{
    height: 100vh;
    color: var(--color-white);
    overflow: hidden;
}

section{
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 12rem;
}

.section{
    transform: translateY(-100%) scale(0);
    transition: var(--transition-1);
    color: var(--color-white);
}

.sec1{
    display: none;
    transform: translateY(0) scale(1);
}
.sec2{
    display: none;
    transform: translateY(0) scale(1);
}
.sec3{
    display: none;
    transform: translateY(0) scale(1);
}
.sec4{
    display: none;
    transform: translateY(0) scale(1);
}
.sec5{
    display: none;
    transform: translateY(0) scale(1);
}

.active{
    display: block;
    animation: scalAnim .7s ease-in-out;
    //creation of animation scalAnim
    @keyframes scalAnim {
        0%{
            transform: translateY(-100%) scaleY(0);
        }

        100%{
            transform: translateY(0) scaleY(1);
        }
    }
}

//theme btn (dark/light mode)
.theme-btn{
    position: fixed;
    top: 3%;
    left: 1%;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    padding: 1rem;
    cursor: pointer;
    background-color: var(--color-grey-1);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 15px var(--color-green-1);
    transform: var(--transition-2);
    &:active{
        transform: translateY(-3px);
    }
    i{
        font-size: 1.5rem;
        color: var(--color-white);
    }
}

//controls nav btn
.controls{
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);    //déplace vers le haut en fonction de la position initiale
    .active-btn{
        background-color: var(--color-white) !important;   //!important permet de prioriser la balise
        transition: var(--transition-1);
        i{
            color: var(--color-primary) !important;
        }
    }
    .control{
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-green-2);
        height: 55px;
        width: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .7rem 0;
        box-shadow: var(--box-shadow-1);
        i{
            font-size: 1.2rem;
            color: var(--color-white);
            pointer-events: none;
        }
    }
}

//header content
.header-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 10%;
    .left-header{
        display: flex;
        align-items: center;
        position: relative;
        .h-shape{
            transition: var(--transition-1);
            width: 70%;
            height: 100vh;
            background-color: var(--color-green-1);
            left: 0;
            top: 0;
            z-index: -1;
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        }
        .image{
            border-radius: var(--br-sm-2);
            background-color: var(---color-black);
            transition: var(--transition-1);
            height: 100%;
            .img{
                width: 100%;
                height: 100vh;
                object-fit: cover;
                transition: var(--transition-1);
                filter: grayscale(100%);
                &:hover{
                    filter: grayscale(100%);
                }
            }
        }
    }

    .right-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 10rem;
        .name{
            font-size: 2rem;
            span{
                color: var(--color-green-1);
            }
        }
        p{
            margin: 1.5rem 0;
            line-height: 1.5rem;
        }
    }
}

//about top right/left content
.about-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3.5rem;
    padding-bottom: 5rem;
    .right-about{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        height: fit-content;
        .about-item{
            border: 1px solid var(--color-green-1);
            border-radius: 5px;
            transition: var(--transition-1);
            box-shadow: 1px 2px 15px rgba(0,0,0,.1);
            height: fit-content;
            &:hover{
                cursor: default;
                transform: translateY(-5px);
                border: 1px solid var(--color-primary);
                box-shadow: 1px 2px 15px;
                }
            
            .about-text{
                padding: 1.5rem;
                display: flex;
                flex-direction: column;
                .large-text{
                    font-size: 3rem;
                    font-weight: 700;
                    color: var(--color-green-1);
                    &:hover{
                        color: var(--color-primary);
                    }
                }
                .small-text{
                    padding-left: 3rem;
                    position: relative;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    color: var(--color-white);
                    letter-spacing: 2px;
                    &:hover{
                        color: var(--color-primary);
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 2rem;
                        height: 2px;
                        background-color: var(--color-white);
                    }
                }
            }
        }
    }
    .left-about{
        padding-right: 5rem;
        p{
            line-height: 2rem;
            padding: 1rem;
            color: var(--color-white);
        }
        h4{
            font-size: 2rem;
            text-transform: uppercase;
            color: var(--color-green-1);
        }
    }
}

//about my skills and progress bars
.about-stats{
    padding-bottom: 4rem;
    .progress-bars{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        .progress-bar{
            display: flex;
            flex-direction: column;
            .progress-title{
                text-transform: uppercase;
                font-weight: 500;
            }
            .progress-con{
                display: flex;
                align-items: center;
                .progress-text{
                    color: var(--color-green-1);
                }
                .progress{
                    width: 100%;
                    height: .45rem;
                    background-color: var(--color-grey-1);
                    margin-left: 1rem;
                    position: relative;
                    span{
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        background-color: var(--color-green-1);
                    }
                    //pourcentage of html
                    .html{
                        width: 90%;
                    }
                    //pourcentage of css
                    .css{
                        width: 90%;
                    }
                    //pourcentage of js
                    .js{
                        width: 30%;
                    }
                    //pourcentage of python
                    .python{
                        width: 40%;
                    }
                    //pourcentage of sql
                    .sql{
                        width: 50%;
                    }
                    //pourcentage of reactjs
                    .reactjs{
                        width: 20%;
                    }
                }
            }
        }
    }
}

//about timeline
.timeline{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    .timeline-item{
        position: relative;
        padding-left: 2rem;
        border-left: 1px solid var(--color-green-1);
        .timeline-icon{
            position: absolute;
            left: -1.65rem;    //décallage de l'image case a gauche du border-left
            top: 0;
            background-color: white;
            color: var(--color-primary);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            i{
                font-size: 1.3rem;
            }
        }
        .timeline-duration{
            padding: .2rem .6rem;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1rem;
            color: var(--color-white);
        }
        h5{
            padding: 1.3rem 0;
            font-size: 1rem;
            font-weight: 600;
            color: var(--color-green-1);
            //uncommment if you want modifie the enterprise only
            // span{
            //     color: var(--color-green-1);
            // }
        }
        p{
            color: var(--color-grey-1);
        }
    }
}

//about titles of each paragraphe
.stat-title{
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    padding: 3.5rem 0;
    position: relative;
    color: var(--color-green-1);
    &::before{
        position: absolute;
        content: '';
        left: 50%;
        top: 0;
        width: 40%;
        height: 1px;
        background-color: var(--color-white);
        transform: translateX(-50%);
    }
}

//portfolio
.portfolio-text{
    padding: 2rem 0;
    text-align: center;
}

.portfolios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 3rem;
    .portfolio-item{
        position: relative;
        img{
            width: 100%;
            object-fit: cover;
            border-radius: 15px;
        }
        .hover-item{
            width: 100%;
            height: 100%;
            background-color: var(--color-grey-1);
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 0; //hide portfolio hover-item
            transform: scale(0);    //hide portfolio hover-item
            transition: var(--transition-1);
            h3{
                font-size: 1.5rem;
                color: var(--color-white);
                align-items: center;
            }
            .icons{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 1rem;
                .icon{
                    font-size: 1.5rem;
                    background-color: var(---color-black);
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    margin: 0 .5rem;
                    cursor: pointer;
                    transition: var(--transition-1);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i{
                        font-size: 1.5rem;
                        color: var(--color-white);
                        margin: 0 .5rem;
                    }

                    &:hover{
                        background-color: var(--color-white);
                        i{
                            color: var(---color-black);
                        }
                    }
                }
            }
        }
    }
}

//unhide portfolio hover-item
.portfolio-item:hover .hover-item{
    opacity: 1;
    transform: scale(1);
}

//blog
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 3rem;
    .blog-item{
        position: relative;
        background-color: var(--color-white);
        border-radius: 5px;
        box-shadow: 1px 1px 20px var(--color-grey-1);
        transition: var(--transition-1);
        &:hover{
            box-shadow: 1px 1px 20px var(--color-green-2);
            transform: translateY(-5px);
            transition: var(--transition-1);
            img{
                filter: grayscale(0);
                transform: scale(1.3);
                box-shadow: 1px 1px 20px var(--color-green-2);
                transition: var(--transition-1);
            }
        }
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
            transition: var(--transition-1);
            filter: grayscale(100%);
        }
        .blog-text{
            margin-top: -7px;
            padding: 1.1rem;
            border-top: 5px solid var(--color-grey-1);
            h4{
                font-size: 1.5rem;
                color: var(--color-green-1);
                text-align: center;
            }
            p{
                font-size: 1.2rem;
                color: var(---color-black);
                line-height: 1.5rem;
                padding-bottom: 1rem;
            }
        }
    }
}

//Contact
.contact-container{
    display: flex;
    padding-top: 3rem;
    .contact-left{
        flex: 2;
        h4{
            margin-top: 1rem;
            font-size: 2rem;
            text-transform: uppercase;
            color: var(--color-green-1);
        }
        p{
            margin: 1rem 0;
            line-height: 1.5rem;
        }
        .contact-info{
            .contact-item{
                display: flex;
                align-items: center;
                font-size: .8rem;
                p{
                    margin: .3rem 0 !important;
                    padding: 0 !important;
                }
                .contact-icon{
                    display: grid;
                    grid-template-columns: 40px 1fr;
                    i{
                        display: flex;
                        align-items: center;
                        font-size: 1.3rem;
                    }
                }
            }
        }
        .contact-social-media-icon{
            display: flex;
            margin-top: 1rem;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--color-white);
                cursor: pointer;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 1rem 2rem 0 0;
                transition: var(--transition-1);
                &:hover{
                    background-color: var(--color-white);
                    transform: translateY(-5px);
                    i{
                        color: var(--color-green-2);
                    }
                }
                i{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.3rem;
                }
            }
        }
    }

    .contact-right{
        flex: 3;
        margin-left: 3rem;
        .input-control{
            margin: 1.5rem 0;
            input, textarea{
                border-radius: 30px;
                font-weight: inherit;
                font-size: inherit;
                font-family: inherit;
                padding: .8rem 1.1rem;
                outline: none;
                border: none;
                width: 100%;
                color: var(--color-primary);
                background-color: var(--color-white);
                resize: none;
            }
        }
        .input-control-2{       //afin que les deux input soient sur la meme ligne
            display: flex;
            :last-child{        //cible le dernier élément de input-control-2
                margin-left: 1.5rem;
            }
        }
        .submit-btn{
            display: flex;
            justify-content: flex-start;
        }
    }
}



//independant components
.btn-con{
    display: flex;
    align-self: flex-start;
}

.main-btn{
    border-radius: 30px;
    color: inherit;
    font-weight: 300;
    position: relative;
    border: 1px solid var(--color-green-1);
    display: flex;
    align-self: flex-start;
    align-items: center;
    overflow: hidden;
    .btn-text{
        padding: 0 1rem;
        color: var(--color-white);
    }
    .btn-icon{
        background-color: var(--color-green-1);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1rem;
        margin: .5rem;
    }
    //effet de chargement sur le btn-con (un contenu vide qui n'est pas a l'écran)
    &::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: var(--transition-1);
        z-index: -1;
    }
    //effet de chargement sur le btn-con (faire apparaitre le content on hover du btn)
    &:hover{
        &::before{
            width: 100%;
            height: 100%;
            background-color: var(--color-green-2);
            transform: translateX(0);
            transition: var(--transition-1);
        }
    }
}

.main-title{
    text-align: center;
    h2{
        position: relative;
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: 700;
        span{
            color: var(--color-green-1);
        }
        .bg-text{
            position: absolute;
            top: 50%;
            left: 50%;
            color: var(--color-grey-1);
            transition: var(--transition-1);
            z-index: -1;
            transform: translate(-50%, -50%);
            font-weight: 800;
            font-size: 4.3rem;
        }
    }
}

@import './_media';