#carousel-container {
    width: 70%;
    margin: auto;
    overflow: hidden;
}

#carousel-container__slider {
display: flex;
transition: transform 0.5s ease-in-out;
}

.carousel-container__slider-image {
width: 100%;
height: auto;
padding: 0.5%;
}

.carousel-container__btn {
cursor: pointer;
position: absolute;
top: 60%;
transform: translateY(-50%);
font-size: 24px;
color: white;
background-color: rgba(0, 0, 0, 0.5);
border: none;
padding: 10px;
outline: none;
}

#carousel-container__prev-btn {
left: 10px;
}

#carousel-container__next-btn {
right: 10px;
}

#carousel-container__all {
    min-width: 30%;
    min-height: 5%;
    font-size: 24px;
}