.popup {
    display: none; /* Masqué par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fond noir semi-transparent */
    z-index: 1000; /* S'assurer que le pop-up est au-dessus des autres éléments */
    justify-content: center;
    align-items: center;
}

.popup-content {
    text-align: center;
    color: var(--accent-color);
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: var(--neutral-color);
    cursor: pointer;
}

.close-btn:hover {
    color: var(--secondary-color); /* Couleur au survol */
}
