body {
    margin: 0;
    margin-bottom: 2%;
    font-family: Arial, sans-serif, 'Inter', 'Arial Narrow';
    background: rgb(27,38,59);
    background: radial-gradient(circle, rgba(27,38,59,1) 0%, rgba(13,27,42,1) 19%, rgba(65,90,119,1) 44%, rgba(119,141,169,1) 66%, rgba(224,225,221,1) 86%);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
    display: block;
}

main {
    margin-top: 60px;
    width: 80%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 30px;
    line-height: 1.6;
}

.cta {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    color: #fff;
    background-color: #ff6f61;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.cta:hover {
    background-color: #ff8f81;
    transform: scale(1.1);
}
